<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path("homepage") }}">FCA Tools Bundle</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li{{ activeMenu == "home" ? " class=\"active\"" : "" }}>
                    <a href="{{ path("homepage") }}">Home</a>
                </li>

                {% if app.user %}
                    <li{{ activeMenu == "contexts" ? " class=\"active\"" : "" }}>
                        <a href="{{ path("context_homepage") }}">
                            All Contexts
                        </a>
                    </li>
                {% endif %}

                <li{{ activeMenu == "public_contexts" ? " class=\"active\"" : "" }}>
                    <a href="{{ path("public_contexts") }}">
                        Public Contexts
                    </a>
                </li>

                {% if app.user %}
                    <li{{ activeMenu == "my_contexts" ? " class=\"active\"" : "" }}>
                        <a href="{{ path("list_user_contexts") }}">
                            My Contexts
                        </a>
                    </li>

                    <li{{ activeMenu == "groups" ? " class=\"active\"" : "" }}>
                        <a href="{{ path("list_user_groups") }}">
                            Groups
                        </a>
                    </li>

                    <li{{ activeMenu == "voting_feature" ? " class=\"active\"" : "" }}>
                        <a href="{{ path("voting_feature") }}">
                            Vote Most Wanted Feature
                        </a>
                    </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li>
                    {% if app.user %}
                        <a href="{{ path("logout") }}">
                            Logout
                        </a>
                    {% else %}
                        <a href="{{ path("login") }}">
                            Login
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>