<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>{% block title %}FCA Tools Bundle{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset("bundles/app/stylesheets/styles.css") }}" rel="stylesheet" type="text/css"/>

        <link href="{{ asset("bundles/app/libraries/perfect-scrollbar/css/perfect-scrollbar.min.css") }}" rel="stylesheet" type="text/css"/>

        <link href="{{ asset("bundles/app/libraries/data-tables/css/dataTables.bootstrap.min.css") }}" rel="stylesheet" type="text/css"/>

        <link href="{{ asset("bundles/app/stylesheets/main.css") }}" media="screen, projection" rel="stylesheet"
              type="text/css"/>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
{% include "@App/Common/menu.html.twig" %}

<div class="container main-container">
    {% block body %}{% endblock %}
</div>

{% include "@App/Common/footer.html.twig" %}

{% include "@App/Common/spinner.html.twig" %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/libraries/jquery/js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/jquery/js/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/d3/js/d3.v3.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/data-tables/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/data-tables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/scripts/main.js') }}"></script>
{% endblock %}
</body>
</html>
