<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>{% block title %}FCA Tools Bundle{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="FCA Tools Bundle is a website containing a collection of tools that can be used for conceptual structure analysis."/>
    <meta name="keywords" content="FCA,Formal Concept Analysis,Context,Concepts,Dyadic Context,Triadic Context,Concept Finder,FCA Tools Bundle,Tools"/>

    {% block stylesheets %}
        <link href="{{ asset("bundles/app/stylesheets/styles.css") }}" rel="stylesheet" type="text/css"/>

        <link href="{{ asset("bundles/app/stylesheets/main.css") }}" media="screen, projection" rel="stylesheet"
              type="text/css"/>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>
    {% block body %}{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/libraries/jquery/js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/jquery/js/jquery-ui-1.11.4/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/libraries/d3/js/d3.v3.min.js') }}"></script>
    <script src="{{ asset('bundles/app/scripts/main.js') }}"></script>
{% endblock %}
</body>
</html>
