<div id="step1-tab" class="tab-pane fade{{ tab == "select-source" ? " in active" : "" }}">
    <form action="#" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="sourceType">Source Type:</label>

            <div class="col-sm-10">
                <select name="sourceType" id="sourceType" class="form-control" required="required">
                    <option value="" disabled="disabled"
                            {{ app.request.request.get("sourceType") == "" ? 'selected="selected"' : "" }}>
                        Select a source for the scale.
                    </option>

                    <option value="database"
                            {{ "database" == app.request.request.get("sourceType") ? 'selected="selected"' : "" }}>
                        Database
                    </option>
                    <option value="csv"
                            {{ "csv" == app.request.request.get("sourceType") ? 'selected="selected"' : "" }}>
                        CSV File
                    </option>
                </select>

                {% if errors['sourceType'] is defined %}
                    <p class="bg-danger error-message">{{ errors['sourceType'] }}</p>
                {% endif %}
            </div>
        </div>
    </form>

    <form action="#" class="form-horizontal select-database-form form-to-validate source-variant collapse"
          method="post" data-variant="database">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="databaseConnection">Database Connection:</label>

            <div class="col-sm-10">
                <select name="databaseConnectionId" id="databaseConnection" class="form-control" required="required">
                    <option value="" disabled="disabled"
                            {{ app.request.request.get("databaseConnectionId") == "" ? 'selected="selected"' : "" }}>
                        Select the database connection to use
                    </option>

                    {# databaseConnection \AppBundle\Document\DatabaseConnection #}
                    {% for databaseConnection in app.user.databaseConnections %}
                        <option value="{{ databaseConnection.id }}" {{ databaseConnection.id ==
                        app.request.request.get("databaseConnectionId") ? 'selected="selected"' : "" }}>
                            {{ databaseConnection.name }}
                        </option>
                    {% endfor %}
                    <option class="new-database-connection" value="add-new-database-connection" data-toggle="collapse"
                            data-target="#create-database-connection" aria-controls="collapse">
                        Add new
                    </option>
                </select>

                {% if errors['databaseConnectionId'] is defined %}
                    <p class="bg-danger error-message">{{ errors['databaseConnectionId'] }}</p>
                {% endif %}
            </div>
        </div>

        <input type="submit" class="submit-btn hidden"/>
    </form>

    <form action="{{ path("upload_temp_csv_file") }}"
          class="form-horizontal upload-csv-file-form source-variant form-to-validate collapse"
          method="post" data-variant="csv" enctype="multipart/form-data">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="csvFile">CSV File:</label>

            <div class="col-sm-10">
                <input class="form-control-file" id="csvFile" type="file" name="file" required="required"/>

                {% if errors['file'] is defined %}
                    <p class="bg-danger error-message">{{ errors['file'] }}</p>
                {% endif %}
            </div>
        </div>

        <input type="hidden" name="tempCsvFile" id="tempCsvFile" value="{{ app.request.request.get("csvFileName") }}"/>
        <input type="submit" class="submit-btn hidden"/>
    </form>

    <div class="form-horizontal collapse" id="create-database-connection">
        <form action="{{ path("create_new_database_connection") }}" method="post"
              class="create-database-connection-form">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Name:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="name" id="name" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="user">User:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="user" id="user" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">Password:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="password" name="password" id="password" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="host">Host:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="host" id="host" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="port">Port:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="port" id="port" required="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="type">Database Type:</label>
                <div class="col-sm-10">
                    <select name="type" id="type" class="form-control">
                        <option value="" selected="selected" disabled="disabled">Select database type</option>
                        <option value="mysql">MySQL</option>
                        <option value="mongodb">MongoDB</option>
                    </select>
                </div>
            </div>

            <p>
                <button class="btn btn-primary save-database-connection">Save</button>
            </p>
        </form>

        <div class="clearfix"></div>
    </div>

    <p>
        <a class="btn btn-danger" href="{{ path("list_user_scales") }}">Cancel</a>
        <a class="btn btn-primary choose-source-btn">Next</a>
        <a class="hidden next-tab-hidden-btn" href="#step2-tab" data-toggle="tab">Next</a>
    </p>
</div>