<form action="{{ path("create_new_context") }}" method="post" class="form-horizontal create-context-form">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="name" id="name" required="required"
                   value="{{ app.request.request.get("name", "") }}"/>

            {% if errors['name'] is defined %}
                <p class="bg-danger error-message">{{ errors['name'] }}</p>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="description">Description:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="description" id="description" required="required"
                   value="{{ app.request.request.get("description", "") }}"/>

            {% if errors['description'] is defined %}
                <p class="bg-danger error-message">{{ errors['description'] }}</p>
            {% endif %}
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="context_type">Context Type:</label>

        <div class="col-sm-10">
            {% set contextType = app.request.request.get("context_type", "dyadic") %}
            <label class="radio-inline">
                <input type="radio" name="context_type" value="dyadic"
                        {{ contextType == "dyadic"?"checked=\"checked\"":"" }}/>
                Dyadic
            </label>

            <label class="radio-inline">
                <input type="radio" name="context_type" value="triadic"
                        {{ contextType == "triadic"?"checked=\"checked\"":"" }}/>
                Triadic
            </label>

            {% if errors['context_type'] is defined %}
                <p class="bg-danger error-message">{{ errors['context_type'] }}</p>
            {% endif %}
        </div>
    </div>

    {% set condition = app.request.request.get("conditions", [""])[0] %}
    <div class="relation-tables">
        <div class="table-data">
            <table class="table table-bordered create-context-table">
                <tr class="first-row">
                    <td class="empty-cell">
                        <input type="text" class="item-name-input condition-input" placeholder="condition..."
                               value="{{ condition }}" {{ contextType == "triadic"?"style=\"display: block\"":"" }}/>
                    </td>

                    {% for attribute in app.request.request.get("attributes", []) %}
                        <td class="top-head-cell">
                            <input type="text" class="item-name-input" value="{{ attribute }}"/>
                        </td>
                    {% endfor %}

                    <td class="top-head-cell add-attribute-cell">
                        <input type="text" class="item-name-input" placeholder="Add attribute..."/>
                    </td>
                </tr>

                {% for object in app.request.request.get("objects", []) %}
                    <tr>
                        <td class="left-head-cell">
                            <input type="text" class="item-name-input" value="{{ object }}"/>
                        </td>
                        {% for attribute in app.request.request.get("attributes", []) %}
                            <td class="data-cell">
                                {% set tuple1 = object ~ "###" ~ attribute ~ "###" ~ condition %}
                                {% set tuple2 = object ~ "###" ~ attribute %}

                                {% if tuple1 in app.request.request.get("relation_tuples", [])
                                or tuple2 in app.request.request.get("relation_tuples", []) %}
                                    X
                                {% else %}
                                    &nbsp;
                                {% endif %}
                            </td>
                        {% endfor %}
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td class="left-head-cell add-object-cell">
                        <input type="text" class="item-name-input" placeholder="Add object..."/>
                    </td>
                    {% set nrAttributes = app.request.request.get("attributes", [])|length %}
                    {% if nrAttributes >= 1 %}
                        {% for index in 1..nrAttributes %}
                            <td class="data-cell">&nbsp;</td>
                        {% endfor %}
                    {% endif %}
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>

        {% for condition in app.request.request.get("conditions", []) %}
            {% if loop.index != 1 %}
                <div class="table-data">
                    <table class="table table-bordered create-context-table">
                        <tr class="first-row">
                            <td class="empty-cell">
                                <input type="text" class="item-name-input condition-input"
                                       placeholder="condition..."
                                       style="display: block" value="{{ condition }}"/>
                            </td>

                            {% for attribute in app.request.request.get("attributes", []) %}
                                <td class="top-head-cell">
                                    <input type="text" class="item-name-input" value="{{ attribute }}"/>
                                </td>
                            {% endfor %}

                            <td class="top-head-cell add-attribute-cell">
                                <input type="text" class="item-name-input" placeholder="Add attribute..."/>
                            </td>
                        </tr>

                        {% for object in app.request.request.get("objects", []) %}
                            <tr>
                                <td class="left-head-cell">
                                    <input type="text" class="item-name-input" value="{{ object }}"/>
                                </td>
                                {% for attribute in app.request.request.get("attributes", []) %}
                                    <td class="data-cell">
                                        {% set tuple = object ~ "###" ~ attribute ~ "###" ~ condition %}
                                        {% if tuple in app.request.request.get("relation_tuples") %}
                                            X
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                {% endfor %}
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td class="left-head-cell add-object-cell">
                                <input type="text" class="item-name-input" placeholder="Add object..."/>
                            </td>
                            {% for index in 1..(app.request.request.get("attributes", [])|length) %}
                                <td class="data-cell">&nbsp;</td>
                            {% endfor %}
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if errors['objects'] is defined %}
        <p class="bg-danger error-message">{{ errors['objects'] }}</p>
    {% endif %}
    {% if errors['attributes'] is defined %}
        <p class="bg-danger error-message">{{ errors['attributes'] }}</p>
    {% endif %}
    {% if errors['conditions'] is defined %}
        <p class="bg-danger error-message">{{ errors['conditions'] }}</p>
    {% endif %}

    <p>
        <button class="btn btn-primary btn-add-condition"
                {{ contextType == "triadic"?"style=\"display: block\"":"" }}>
            Add condition
        </button>
    </p>

    <p>
        <button class="btn btn-primary btn-create-context">Submit</button>
        <a class="btn btn-danger" href="{{ path("list_user_contexts") }}">Cancel</a>
    </p>
</form>
