{% extends "@App/simpleLayout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="register-page">
            <div class="register-heading">
                <h1>Register</h1>
            </div>

            <form action="{{ path('register') }}" method="post">
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
                {{ form_row(form.email) }}
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
                {{ form_rest(form) }}

                <input type="submit" class="btn btn-primary" value="Register">
                <a class="btn btn-danger" href="{{ path("login") }}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
