<table class="table table-bordered table-striped sort-filter">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        {% if activeMenu == 'my_contexts' %}
            <th>Is Public</th>
        {% endif %}
        <th>Number of dimensions</th>
        <th>Number of incidences</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {# context \AppBundle\Document\Context #}
    {% for context in contexts %}
        <tr>
            <td>
                {{ context.name }}
            </td>

            <td>
                {{ context.description }}
            </td>

            {% if activeMenu == 'my_contexts' %}
                <td>
                    {{ context.isPublic ? "Yes" : "No" }}
                </td>
            {% endif %}
            <td>
                {{ context.dimCount }}
            </td>

            <td>
                {{ context.relations|length }}
            </td>

            <td>
                <a class="btn btn-primary btn-xs" href="{{ path('view_context', {'id': context.id}) }}">View</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
