<form class="form-horizontal create-context-form" action="{{ path("create_new_scale") }}" method="post">
    <p class="message bg-info">
        Ordinal scales are used for scaling attributes with ordered values but sometimes these do not imply all the
        other smaller values. <br/>
        In that case, usually a grid scale (bi-ordinal scale) can be used, so that attributes are assigned to one of two
        poles. <br/>
        For example, an attribute could have as values very cheap, cheap, expensive, very expensive, extremely
        expensive.
    </p>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="grid-first-scale-column">Column:</label>
                <div class="col-sm-10">
                    <select name="firstScaleColumn" class="form-control" id="grid-first-scale-column" required="required">
                        <option value="" disabled="disabled"
                                {{ app.request.request.get("column") == "" ? 'selected="selected"' : "" }}>
                            Select a column
                        </option>

                        {% if fillData.tableData is defined %}
                            {% for column in fillData.tableData['columns'] %}
                                <option value="{{ column }}"
                                        {{ app.request.request.get("firstScaleColumn") == column ? 'selected="selected"' : "" }}>
                                    {{ column }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>

                    {% if errors['firstScaleColumn'] is defined %}
                        <p class="bg-danger error-message">{{ errors['firstScaleColumn'] }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="grid-first-scale-part-2 collapse{{ app.request.request.get("firstScaleColumn") != "" ? " in" : "" }}">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="grid-scale-column">Order: </label>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="firstScaleOrder" class="grid-scale-order" value="increasing" checked="checked"/>
                            Increasing
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="firstScaleOrder" class="grid-scale-order" value="decreasing"/>
                            Decreasing
                        </label>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

                {% if errors['firstScaleOrder'] is defined %}
                    <p class="bg-danger error-message">{{ errors['firstScaleOrder'] }}</p>
                {% endif %}

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="grid-scale-column">Bounds: </label>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="firstScaleBounds" class="grid-scale-bounds" value="include" checked="checked"/>
                            Include
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="firstScaleBounds" class="grid-scale-bounds" value="exclude"/>
                            Exclude
                        </label>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

                {% if errors['firstScaleBounds'] is defined %}
                    <p class="bg-danger error-message">{{ errors['firstScaleBounds'] }}</p>
                {% endif %}

                <div class="form-group">
                    <div class="col-sm-12 scale-elements" data-prefix="firstGrid">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="scale-add-value btn btn-primary">Add Value</button>
                            </div>

                            <input class="form-control scale-elements-input" type="number" step="any"
                                   value="" placeholder="Type in a value..."/>
                        </div>

                        <br/>

                        <ul class="list-group scale-values-list">
                        </ul>
                    </div>
                </div>

                {% if errors['firstGridScaleValues'] is defined %}
                    <p class="bg-danger error-message">{{ errors['firstGridScaleValues'] }}</p>
                {% endif %}
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="grid-second-scale-column">Column:</label>
                <div class="col-sm-10">
                    <select name="secondScaleColumn" class="form-control" id="grid-second-scale-column" required="required">
                        <option value="" disabled="disabled"
                                {{ app.request.request.get("column") == "" ? 'selected="selected"' : "" }}>
                            Select a column
                        </option>

                        {% if fillData.tableData is defined %}
                            {% for column in fillData.tableData['columns'] %}
                                <option value="{{ column }}"
                                        {{ app.request.request.get("secondScaleColumn") == column ? 'selected="selected"' : "" }}>
                                    {{ column }}
                                </option>
                            {% endfor %}
                        {% endif %}
                    </select>

                    {% if errors['secondScaleColumn'] is defined %}
                        <p class="bg-danger error-message">{{ errors['secondScaleColumn'] }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="grid-second-scale-part-2 collapse{{ app.request.request.get("secondScaleColumn") != "" ? " in" : "" }}">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="grid-scale-column">Order: </label>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="secondScaleOrder" class="grid-scale-order" value="increasing" checked="checked"/>
                            Increasing
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="secondScaleOrder" class="grid-scale-order" value="decreasing"/>
                            Decreasing
                        </label>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

                {% if errors['secondScaleOrder'] is defined %}
                    <p class="bg-danger error-message">{{ errors['secondScaleOrder'] }}</p>
                {% endif %}

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="grid-scale-column">Bounds: </label>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="secondScaleBounds" class="grid-scale-bounds" value="include" checked="checked"/>
                            Include
                        </label>
                    </div>
                    <div class="col-sm-2">
                        <label>
                            <input type="radio" name="secondScaleBounds" class="grid-scale-bounds" value="exclude"/>
                            Exclude
                        </label>
                    </div>
                    <div class="col-sm-6"></div>
                </div>

                {% if errors['secondScaleBounds'] is defined %}
                    <p class="bg-danger error-message">{{ errors['secondScaleBounds'] }}</p>
                {% endif %}

                <div class="form-group">
                    <div class="col-sm-12 scale-elements" data-prefix="secondGrid">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button class="scale-add-value btn btn-primary">Add Value</button>
                            </div>

                            <input class="form-control scale-elements-input" type="number" step="any"
                                   value="" placeholder="Type in a value..."/>
                        </div>

                        <br/>

                        <ul class="list-group scale-values-list">
                        </ul>
                    </div>
                </div>

                {% if errors['secondGridScaleValues'] is defined %}
                    <p class="bg-danger error-message">{{ errors['secondGridScaleValues'] }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <br/>

    <p>
        <a class="btn btn-danger" href="{{ path("list_user_scales") }}">Cancel</a>
        <a class="btn btn-default prev-tab">Back</a>
        <button class="btn btn-primary btn-create-grid-scale">Submit</button>

        <input class="hidden submit-btn" type="submit"/>
        <a class="hidden prev-tab-hidden-btn" href="#step2-tab" data-toggle="tab">Back</a>
    </p>
</form>
