{% extends "@App/layout.html.twig" %}

{% block body %}
    <div class="create-new-context-page">
        <h1 class="page-header">Add a new feature</h1>

        <ol class="breadcrumb">
            <li><a href="{{ path("homepage") }}">Home</a></li>
            <li><a href="{{ path("voting_feature") }}">Vote Most Wanted Feature</a></li>
            <li class="active">Add Feature</li>
        </ol>

        <form action="{{ path("add_new_feature", {'userId':app.user.id}) }}" method="post" class="create-context-form">
            <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="name">Name:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="title" id="title" required="required"
                           value="{{ app.request.request.get("title", "") }}"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label" for="description">Description:</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="description" id="description"
                           value="{{ app.request.request.get("description", "") }}"/>
                </div>
            </div>

            <p>
                <button class="btn btn-primary">Submit</button>
                <a class="btn btn-danger" href="{{ path("voting_feature") }}">Cancel</a>
            </p>

        </form>
    </div>
{% endblock %}