{% extends "@App/layout.html.twig" %}

{% block body %}
    {# context \AppBundle\Document\Context #}

    <div class="context-page">
        <h1 class="page-header">{{ context.name }}</h1>

        <ol class="breadcrumb">
            <li><a href="{{ path("homepage") }}">Home</a></li>
            <li><a href="{{ path("context_homepage") }}">Contexts</a></li>
            <li class="active">{{ context.name }}</li>
        </ol>

        <h2>Actions</h2>

        {% if context.user == app.user %}
            <p>
                <a class="btn btn-default" href="{{ path("edit_context", {"id": context.id}) }}">
                    Edit Context
                </a>

                {% if context.concepts is empty %}
                    <a class="btn btn-primary" href="{{ path("generate_concepts", {"id": context.id}) }}">
                        Generate Concepts
                    </a>
                {% else %}
                    <a class="btn btn-default" href="{{ path("generate_concepts", {"id": context.id}) }}">
                        Regenerate Concepts
                    </a>
                {% endif %}

                {% if context.dimCount == 2 %}
                    {% if context.conceptLattice is empty %}
                        <a class="btn btn-primary" href="{{ path("generate_concept_lattice", {"id": context.id}) }}">
                            Generate Concept Lattice
                        </a>
                    {% else %}
                        <a class="btn btn-default" href="{{ path("generate_concept_lattice", {"id": context.id}) }}">
                            Regenerate Concept Lattice
                        </a>
                    {% endif %}
                {% endif %}

            </p>
        {% endif %}

        <p>
            {% if context.temporalDimensions is not null and context.dimCount > 2 and false %}
                <a class="btn btn-primary" href="{{ path("temporal_context", {"id": context.id}) }}">
                    Temporal context dashboard
                </a>
            {% endif %}

            {% if context.dimCount == 2 %}
                <a class="btn btn-primary" href="{{ path("export_context_cxt", {"id": context.id}) }}">
                    Export context as cxt
                </a>
            {% endif %}

            <a class="btn btn-primary" href="{{ path("export_context_csv", {"id": context.id}) }}">
                Export context as csv
            </a>

            {% if context.dimCount == 2 and context.conceptLattice != null %}
                <a class="btn btn-primary" href="{{ path("view_concept_lattice", {"id": context.id}) }}">
                    View Concept Lattice
                </a>
            {% endif %}

            <a class="btn btn-primary" href="{{ path("concept_finder", {"id": context.id}) }}">
                Find a concept
            </a>
        </p>

        {% if context.description %}
            <h3>Description</h3>
            <p>{{ context.description }}</p>
        {% endif %}

        {% if context.user == app.user %}
            <div class="context-sharing panel panel-row-fix panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left text-capitalize">
                        <strong>Share context</strong>
                    </h3>

                    <button class="btn btn-primary btn-xs pull-right" type="button" data-toggle="collapse"
                            data-target="#share-context" aria-expanded="false" aria-controls="collapse">
                        Show
                    </button>

                    <div class="clearfix"></div>
                </div>

                <div class="panel-body collapse" id="share-context">
                    <div class="row">
                        <div class="col-sm-2">
                            {% if context.isPublic %}
                                <a class="btn btn-default"
                                   href="{{ path("mark_context_private", {"id": context.id}) }}">
                                    Make context private
                                </a>
                            {% else %}
                                <a class="btn btn-primary"
                                   href="{{ path("mark_context_public", {"id": context.id}) }}">
                                    Make context public
                                </a>
                            {% endif %}
                        </div>

                        <div class="col-sm-4">
                            {% if not context.isPublic and (app.user.groups | length > 0) and (context.getUser() == app.user) %}
                                <form action="{{ path("share_context", {"id": context.id}) }}" method="post">
                                    <div class="input-group pull-left">
                                        <select id="choose_share_group" name="group" class="form-control">
                                            <option value="" disabled selected>Select a group</option>
                                            {% for group in app.user.groups %}
                                                <option value="{{ group.id }}"
                                                        data-has-context="{{ group.hasContext(context) ? 1:0 }}">
                                                    {{ group.name }}
                                                </option>
                                            {% endfor %}
                                        </select>

                                        <span class="input-group-btn">
                                            <input disabled="disabled" class="submit-btn btn btn-primary disabled"
                                                   type="submit" value="Add context to group">
                                        </span>
                                    </div>
                                </form>
                            {% endif %}
                        </div>

                        <div class="col-sm-6"></div>
                    </div>

                    {% if errors['group'] is defined %}
                        <p class="bg-danger error-message">{{ errors['group'] }}</p>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% for index, elements in context.dimensions %}
            {% set dimension = fcaParams['dimensionsPlural'][index] %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title has-badge pull-left text-capitalize">
                        <strong>{{ dimension|capitalize }}</strong> <span class="badge">{{ elements|length }}</span>
                    </h3>

                    <button class="btn btn-primary btn-xs pull-right" type="button" data-toggle="collapse"
                            data-target="#{{ dimension }}-list" aria-expanded="false" aria-controls="collapse">
                        Show
                    </button>

                    <div class="clearfix"></div>
                </div>

                <ul class="list-group collapse" id="{{ dimension }}-list">
                    {% for elem in elements|slice(0, 100) %}
                        <li class="list-group-item">
                            {{ elem }}
                        </li>
                    {% endfor %}
                    {% if (elements|length) > 100 %}
                        <li class="list-group-item">...</li>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}

        <div class="relations panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title has-badge pull-left text-capitalize">
                    <strong>Incidences</strong> <span class="badge">{{ context.relations|length }}</span>
                </h3>

                <button class="btn btn-primary btn-xs pull-right" type="button" data-toggle="collapse"
                        data-target="#relation-list" aria-expanded="false" aria-controls="collapse">
                    Show
                </button>

                <div class="clearfix"></div>
            </div>

            <ul class="list-group collapse" id="relation-list">
                {% for relation in context.relations|slice(0, 100) %}
                    <li class="list-group-item">
                        {% for index, elemId in relation %}
                            {{ context.element(index, elemId) }} {{ loop.last ? "" : "-" }}
                        {% endfor %}
                    </li>
                {% endfor %}
                {% if (context.relations|length) > 100 %}
                    <li class="list-group-item">...</li>
                {% endif %}
            </ul>
        </div>

        {% if context.concepts is not empty %}
            <div class="concepts panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title has-badge pull-left text-capitalize">
                        <strong>Concepts</strong> <span class="badge">{{ context.concepts|length }}</span>
                    </h3>

                    <button class="btn btn-primary btn-xs pull-right" type="button" data-toggle="collapse"
                            data-target="#concept-list" aria-expanded="false" aria-controls="collapse">
                        Show
                    </button>

                    <div class="clearfix"></div>
                </div>

                <ul class="list-group collapse" id="concept-list">
                    {% for concept in context.concepts|slice(0, 100) %}
                        <li class="list-group-item">
                            {% for index, elements in concept %}
                                <ul class="list-inline">
                                    <li><strong>{{ fcaParams['dimensionsPlural'][index]|capitalize }}:</strong></li>

                                    {% if context.dimCount == 3 %}
                                        {% set lock = "?" %}
                                        {% for elemId in elements %}
                                            {% set lock = lock ~ "lock[]=" ~ context.element(index, elemId) %}
                                            {% if not loop.last %}
                                                {% set lock = lock ~ "&" %}
                                            {% endif %}
                                        {% endfor %}

                                        <li>
                                            <a class="btn btn-primary btn-xs"
                                               href="{{ path("view_locked_concept_lattice", {
                                                   "id": context.id,
                                                   "lockType": fcaParams['dimensions'][index]
                                               }) ~ lock }}">
                                                Lock
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% for elemId in elements %}
                                        <li>{{ context.element(index, elemId) }}</li>
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </li>
                    {% endfor %}
                    {% if (context.concepts|length) > 100 %}
                        <li class="list-group-item">...</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}