{% extends "@App/layout.html.twig" %}

{% block body %}
    <div>
        <h1 class="page-header">Welcome</h1>

        <p>
            This website was built in order to provide users with a diverse set of tools used in Formal Concept
            Analysis.
        </p>

        <p>
            If you are new to FCA you can find an
            <a href="https://en.wikipedia.org/wiki/Formal_concept_analysis">introduction</a>
            at Wikipedia.
        </p>

        <h3>Features</h3>

        {% set features = [
        {title: "Create dyadic or triadic contexts", descriptionFile: "context_creation"},
        {title: "Import polyadic contexts", descriptionFile: "context_import"},
        {title: "Generate the concepts of a polyadic context", descriptionFile: "concept_generation"},
        {title: "View the concept lattice of a dyadic context", descriptionFile: "concept_generation"},
        {title: "View WAP (weak analogical proportions) in your dyadic contexts", descriptionFile: "concept_generation"},
        {title: "Find a concept in a polyadic context without having to generate all its concepts", descriptionFile: "concept_generation"},
        {title: "Analyze a triadic context using a <strong>novel triadic navigation method</strong> that uses perspectives", descriptionFile: "concept_generation"},
        {title: "The above navigation can be used on large triadic context for which the full list of concepts cannot be computed", descriptionFile: "concept_generation"},
        {title: "Create groups in which you can share contexts", descriptionFile: "concept_generation"},
        {title: "Make your own context public so that all the users can see it", descriptionFile: "concept_generation"}
        ] %}

        <div class="panel-group panel-accordion" id="collapse-features">
            {% for feature in features %}
                <div class="panel panel-{{ loop.index == 1 ? "primary" : "default" }}">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#collapse-features"
                         data-target="#collapse-{{ loop.index }}">
                        <h4 class="panel-title">
                            {{ feature.title | raw }}
                        </h4>
                    </div>

                    <div id="collapse-{{ loop.index }}"
                         class="panel-collapse collapse{{ loop.index == 1 ? " in" : "" }}">
                        <div class="panel-body">
                            {% include("@App/Default/Features/" ~ feature.descriptionFile ~ ".html.twig") %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="useful-links">
            <ul>
                <li>
                    <a href="http://www.upriss.org.uk/fca/fca.html">Uta Priss</a> - TODO..
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
