<table class="table table-bordered table-striped sort-filter">
    <thead>
    <tr>
        <th width="150px">Name</th>
        <th>Description</th>
        {% if activeMenu == 'my_contexts' %}
            <th width="50px">Is Public</th>
        {% endif %}
        <th width="50px">Number of dimensions</th>
        <th width="50px">Number of incidences</th>
        <th width="50px">Number of concepts</th>
        <th width="70px">Actions</th>
    </tr>
    </thead>

    <tbody>
    {# context \AppBundle\Document\Context #}
    {% for context in contexts %}
        <tr>
            <td>
                {{ context.name }}
            </td>

            <td>
                {{ context.description|raw }}
            </td>

            {% if activeMenu == 'my_contexts' %}
                <td>
                    {{ context.isPublic ? "Yes" : "No" }}
                </td>
            {% endif %}
            <td>
                {{ context.dimCount }}
            </td>

            <td>
                {{ context.relations|length }}
            </td>

            <td>
                {% if context.concepts %}
                    {{ context.concepts|length }}
                {% else %}
                    Concepts not computed
                {% endif %}
            </td>

            <td>
                <a class="btn btn-primary btn-xs" href="{{ path('view_context', {'id': context.id}) }}">View</a>

                {% if context.user == app.user %}
                    <a class="btn btn-danger btn-xs" href="{{ path('delete_context', {'id': context.id}) }}">Delete</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
