{% extends "@App/layout.html.twig" %}

{% block body %}
    <div class="create-new-scale-page" data-get-table-data-url="{{ url("get_table_data") }}">
        <h1 class="page-header">Create a new scale</h1>

        <ol class="breadcrumb">
            <li><a href="{{ path("homepage") }}">Home</a></li>
            <li><a href="{{ path("list_user_scales") }}">My Scales</a></li>
            <li class="active">Create Scale</li>
        </ol>

        <ul class="nav nav-tabs">
            <li class="active"><a>Select Database</a></li>
            <li class="disabled"><a>Describe Scale</a></li>
            <li class="disabled"><a>Define Scale</a></li>
        </ul>
        <br/>

        <div class="tab-content">
            <div id="step1-tab" class="tab-pane fade in active">
                <div class="form-group">
                    <select name="databaseConnection" id="databaseConnection" class="form-control">
                        <option value="" selected="selected" disabled="disabled">
                            Select the database connection to use
                        </option>

                        {# databaseConnection \AppBundle\Document\DatabaseConnection #}
                        {% for databaseConnection in app.user.databaseConnections %}
                            <option value="{{ databaseConnection.id }}">{{ databaseConnection.name }}</option>
                        {% endfor %}
                        <option class="new-database-connection" value="add-new-database-connection"
                                data-toggle="collapse"
                                data-target="#create-database-connection" aria-controls="collapse">
                            Add new
                        </option>
                    </select>
                </div>

                <div class="collapse" id="create-database-connection">
                    <form action="{{ path("create_new_database_connection") }}" method="post"
                          class="create-database-connection-form">
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" for="name">Name:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="name" id="name" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" for="user">User:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="user" id="user" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" for="password">Password:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="password" id="password"
                                       required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" for="host">Host:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="host" id="host" required="required"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 form-control-label" for="port">Port:</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="port" id="port" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <select name="type" id="type" class="form-control">
                                <option value="" selected="selected" disabled="disabled">Select database type</option>
                                <option value="mysql">MySQL</option>
                                <option value="mongodb">MongoDB</option>
                            </select>
                        </div>

                        <p>
                            <button class="btn btn-primary save-database-connection">Save</button>
                        </p>
                    </form>

                    <div class="clearfix"></div>
                </div>

                <p>
                    <a class="btn btn-danger" href="{{ path("list_user_scales") }}">Cancel</a>
                    <a class="btn btn-primary" data-toggle="tab" href="#step2-tab">Next</a>
                </p>
            </div>

            <div id="step2-tab" class="tab-pane fade">
                <div class="form-group row">
                    <label class="col-sm-2 form-control-label" for="scaleName">Scale Name:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="scaleName" id="scaleName" required="required"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 form-control-label" for="tableName">Table:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="tableName" id="tableName" required="required"/>
                    </div>
                </div>

                <div class="form-group">
                    <select name="scaleType" class="form-control" id="scale-type-select-box">
                        <option value="" selected="selected" disabled="disabled">Select the scale type</option>
                        <option value="nominal">Nominal</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>

                <p>
                    <a class="btn btn-default" data-toggle="tab" href="#step1-tab">Back</a>
                    <a class="btn btn-danger" href="{{ path("list_user_scales") }}">Cancel</a>
                    <a class="btn btn-primary" data-toggle="tab" href="#step3-tab">Next</a>
                </p>
            </div>

            <div id="step3-tab" class="tab-pane fade">
                <div class="create-nominal-scale scale-type-form" data-scale-type="nominal">
                    {{ include('@App/Scale/Helper/createNewNominalScaleContextForm.html.twig') }}
                </div>

                <div class="create-custom-scale scale-type-form" data-scale-type="custom">
                    {{ include('@App/Scale/Helper/createNewCustomScaleContextForm.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
